@model IEnumerable<DJProject.Models.BrodCast>

<div class="BrodCast_Titel">
    <fieldset>
        <legend>BrodCast</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.BrodCastId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
