
@{
    ViewBag.Title = "Index";

}

	<section id="intro">
		<!-- Introduction --> 

		<header>
			<h2>DJ Gili Tal Site</h2>
		</header>
		
        <img src="~/Images/ProfilePic.jpg"" alt="Gili" />
	</section>

	<div id="content">
		<div id="mainContent">
            <section>
				<article class="blogPost">
					<header>
						<h2>האתר של דיג'י גילי</h2>
					</header>
					<div>
                    <p>מוזיקה היא אמנות סידור הצליל והשקט בזמן. מרכיביה העיקריים הם גובה צליל (האחראי על מלודיה והרמוניה), קצב (מפעם, משקל וארטיקולציה), דינמיקה, גוון ומרקם. המילה "מוזיקה" נובעת מהמילה היוונית ("מוזיק"), "(האמנות) של המוזות". היצירה, הסגנון, החשיבות, ואף הגדרת המוזיקה עצמה משתנים בהתאם לתרבות ולהקשרים חברתיים. המוזיקה כוללת יצירות מסוגים שונים, מיצירות מאורגנות בקפידה, דרך אלתור מוזיקלי ועד צורות אלאטוריות (אקראיות לחלוטין). ניתן לחלק את המוזיקה לסוגות (סגנונות, ז'אנרים) ותתי-סוגות, אף על פי שהגבולות והיחסים בין סגנונות המוזיקה השונים הם לעתים עדינים ביותר, פתוחים לאינטרפרטציה אישית, או אף שנויים במחלוקת. מבין האמנויות, ניתן לסווג את המוזיקה כאחת מאמנויות הבמה, האמנויות היפות, וכאמנות שמיעתית/קולית. בתרבויות רבות, המוזיקה שזורה בקשר בל-ייפרם בחייהם של בני האדם. הפילוסופים היוונים וההודים העתיקים הגדירו את המוזיקה כצלילים המסודרים ב"מאוזן" כמלודיות או ב"מאונך" כהרמוניות. ביטויים נפוצים כגון "ההרמוניה של גרמי השמים" או "זו מוזיקה לאוזניי" מצביעים על כך שמוזיקה היא לעתים קרובות מסודרת היטב ונעימה לשמיעה. עם זאת, המלחין בן המאה ה-20 ג'ון קייג' חשב כי כל צליל עשוי להוות מוזיקה, ואמר לדוגמה כי "אין רעש, רק צלילים". </p>					
						<img src="../images/radio.gif" alt="radio" />

						<p> בתקופה הפרה-היסטורית המוזיקה ככל הנראה התבססה על ריתמיקה (קצב) ומלודיקה (מנגינה), ההרמוניה באה בשלב מאוחר הרבה יותר. נראה כי המוזיקה הפרה-היסטורית נוגנה על ידי כלי הקשה (אבנים, מקלות, עצמות) וקול אנושי. אין לדעת כיצד באמת נשמעה המוזיקה העתיקה, וחוקרים מסוגלים רק לנחש זאת על פי ממצאים מתקופת האבן הקדומה, כגון עצמות אשר נוקבו חורים בצידן; לרוב מזהים עצמות אלה כחלילים, אשר ניגנו בהם על ידי נשיפה לתוך צד אחד כמו בשאקוהאצ'י היפני. גם באתרים ארכאולוגים של תרבות עמק האינדוס נמצאו כלי נגינה, כגון חליל בעל שבעה חורים וסוגים שונים של כלי מיתר. בהודו התפתחה אחת מהמסורות המוזיקליות העתיקות ביותר בעולם. ניתן למצוא אזכורים של מוזיקה קלאסית הודית ("מרגה") בכתבי-הקודש העתיקים של דת ההינדו, הוודות. למוזיקה המסורתית של סין היסטוריה הנמתחת על פני כ-3000 שנה ויותר. המוזיקה היוותה חלק חשוב בחיי התרבות והחברה של יוון העתיקה: מקהלות של גברים ונשים הופיעו לשם בידור, בחגיגות ובטקסים דתיים; למוזיקאים ולזמרים היה תפקיד בולט בתיאטרון של יוון העתיקה. במאה ה-9, המלומד הערבי אל-פאראבי כתב ספר שעסק במוזיקה בשם "ספר המוזיקה הגדול" ). הוא ניגן על כלי נגינה רבים ומגוונים, ואף המציא כלי נגינה משלו; כמו כן, הוא המציא את המערכת הטונלית הערבית, שעדיין משמשת היום במוזיקה ערבית. בימי יוון העתיקה התייחסו למוזיקה כאל אלוהית, נעלה ונשגבת. במוזיקה קיימים 4 מרווחים זכים: פרימה, קוורטה, קווינטה ואוקטבה, אלו הם המרווחים הטבעיים, המצויים בטבע. מכיוון שהיוונים יחסו לספרה 4 חשיבות רבה, מפני שראו בה את הספרה הטבעית המסמלת את הטבע. מה שביסס את המוזיקה כבעלת מעמד אלוהי.
 
בתקופת רומא העתיקה ירד מעמד המוזיקה. הרומאים השתמשו במוזיקה בתהלוכות הניצחון שלהם שלא היו חשובות מבחינה דתית והיו בעלות ערך גשמי ולא אלוהי. המוזיקה הפכה לרקע ולבידור נלווה לחגיגות אלה.</p>

                        <!--<video width="480" height="300" controls="controls" preload="auto" poster="../Images/salsaParty.mp4">
                        <source src="../Images/salsaParty.mp4" type="video/mp4" />
                        </video>-->
                        <iframe class="youtube-player" type="text/html" width="550" height="385" src="http://www.youtube.com/embed/EOeAN670DFA" frameborder="0"></iframe>

                     </div>
				</article>
            </section>
            <aside>
                 <section>
                    <div>

	                </div>
                </section>
		    </aside>

        </div>
 </div>


