@{
    ViewBag.Title = "Transmition";
}

     <!--facebook scripts-->
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=579423435419713";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!--htmlgstart -->
<div id="Timer">
</div>

<div id="MediaPlayer" >
<script type="text/javascript" src="http://www.caster.fm/embed.php?uid=77179"></script>
</div>


<div id="facebook" class="fb-like" data-href="https://www.facebook.com/pages/DJGili/463008007086570" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>    
<div id="facebook" class="fb-comments" data-href="http://www.facebook.com/pages/DJGili/463008007086570?fref=ts"  data-width="470" data-num-posts="7" data- ></div>





