@model DJProject.Models.Songs
@{
    ViewBag.SongsTitle = "SongTitle";
}

<fieldset>
    <legend>Songs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SongName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SongName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SongType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SongType)
    </div>
</fieldset>