/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;


}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body
{
    margin: 0 auto;
    padding: 22px 0;
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    /*background: #F0F0F0;*/
    background-image: url('../Images/background-music.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    direction:rtl;
}

h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}



/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* control
----------------------------------------------------------*/
#control {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #control a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #control ul {
        margin: 0;
    }

    #control li {
        display: inline;
        list-style: none;
    }


/*------------------------------
=NAVIGATION
------------------------------*/

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: url("../Images/nav_background.png");
}

	nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		nav ul li {
			float: right;
		}
		
			nav ul li a {
				display: block;
				margin-right: 20px;
				width: 140px;
				font-size: 14px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #777;
			}
			
				nav ul li a:hover {
					color: #fff;
				}
			
			nav ul li.selected a {
				color: #fff;
			}
			
			nav ul li.subscribe a {
				margin-right: 22px;
				padding-right: 33px;
				text-align: right;
			}


/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	background: #467612 url("../images/int_background.png") repeat-x ;
    font-family:myFirstFont;
	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
    min-height:100px;
}

	#intro h2, #intro p {
		position: relative;
		z-index: 9999;
		width: auto;
        float:right;

	}
	
	#intro h2 {
		padding: 0 0 22px 0;
		font-weight: normal;
		color: #fff;
        text-shadow: 2px 2px 2px #000;

        float:left;
	}
	
	#intro p {
		padding: 0;
		color: #d9f499;

	}
	
	#intro img {
		position: absolute;
		top: 0;
		right: 0;
		width: 400px;
		height: 100%;
        
	
		/* Border-radius not implemented yet */
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}


/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
    
}

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
        font-weight:bold;
        font-family:myFirstFont;

	}
	
	aside {
		display: table-cell;
		width: 300px;
		
	}


/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
	
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}

/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
		font-size: 14px;
		font-style: italic;
		color: #777;

	}
	
		.blogPost header p a:hover {
			text-decoration: none;
			color: #000;
		}

.blogPost div {
	/* Column-count not implemented yet */
	-moz-column-count: 2;
	-webkit-column-count: 2;
	font-size:medium;
    font-style:italic;

	/* Column-gap not implemented yet */
	-moz-column-gap: 22px;
	-webkit-column-gap: 22px;
}

.blogPost video {
	margin: 12px 0;
	width: 100%;
	height: auto;
	-webkit-box-shadow: 3px 3px 7px #777;
}


/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	
		footer div section {
			display: table-cell;
			width: 300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}
        
/*------------------------------
=Transmition
------------------------------*/
#Timer
{
width:100px;
height:100px;
background:red;
transition:width 2s;
-moz-transition:width 2s; /* Firefox 4 */
-webkit-transition:width 2s; /* Safari and Chrome */
-o-transition:width 2s; /* Opera */
text-align:center;
margin-left: auto ;
margin-right: auto ;
}

#Timer:hover
{
width:300px;
}

#MediaPlayer
{
    display: block;
    text-align:center;
    margin-left: auto ;
    margin-right: auto ;
}

#facebook
{
    display: block;
    text-align:center;
    margin-left: auto ;
    margin-right: auto ;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}


.label {
    font-weight: 700;
}



/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

@font-face
{
font-family: myFirstFont;
src: url('../Fonts/NOVARENI.ttf')
}
